<footer class="footer">
  <span>{{ site.footerText }}</span>
  | <a href="{{ site.baseurl }}/static/xml/rss.xml">RSS</a>
  {% if site.emailcode %}
      | <a href="mailto:{{ site.emailcode }}"><img  src="{{ site.baseurl }}/static/img/icons8-secured-letter-16.png">congbo.song@manchester.ac.uk</a>
      | <a target="_blank" href="http://twitter.com/congbosong"><img  src="{{ site.baseurl }}/static/img/icons8-twitter-circled-16.png">@congbosong</a>
  {% if site.sourcecode %}
      | <a href="{{ site.sourcecode }}">GitHub</a>
  {% endif %}
  {% endif %}
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
