<footer class="footer">
  <span>{{ site.footerText }}</span>
  | <a href="{{ site.baseurl }}/static/xml/rss.xml"><img  src="{{ site.baseurl }}/static/img/icons8-rss-90.png" width="16" height="16">RSS</a>
  {% if site.emailcode %}
      | <a href="mailto:{{ site.emailcode }}"><img  src="{{ site.baseurl }}/static/img/icons8-mail.svg" width="16" height="16">congbo.song@manchester.ac.uk</a>
      | <a target="_blank" href="http://twitter.com/congbosong"><img  src="{{ site.baseurl }}/static/img/icons8-twitter-circled.svg" width="16" height="16">@congbosong</a>
      | <a target="_blank" href="https://congbo.site"><img  src="{{ site.baseurl }}/static/img/icons8-internet-connection-100.png" width="16" height="16">https://congbo.site</a>
  {% if site.sourcecode %}
      | <a href="{{ site.sourcecode }}">GitHub</a>
  {% endif %}
  {% endif %}
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
